sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t ropenflash/docker-react  .

script:
  - docker run -e CI=true ropenflash/docker-react yarn test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-779826854614"
  bucket_path: "docker-react"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECERET_KEY
